<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android" id="@iotize/device-com-nfc.cordova" version="3.0.1">

    <name>@iotize/device-com-nfc.cordova</name>

    <description>Near Field Communication (NFC) Plugin. Read and write NDEF messages to NFC tags and share NDEF messages with peers.</description>

    <license>MIT</license>
    <keywords>nfc, NFC, NDEF</keywords>
    <repo>https://github.com/iotize-sas/device-com-nfc.cordova.git</repo>
    <issue>https://github.com/iotize-sas/device-com-nfc.cordova/issues</issue>

    <platform name="android">
        <js-module src="www/phonegap-nfc.js" name="NFC">
            <runs />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NfcPlugin">
                <param name="android-package" value="com.chariotsolutions.nfc.plugin.NfcPlugin"/>
                <param name="onload" value="true" />
            </feature>
            <feature name="NFCCom">
                <param name="android-package" value="com.iotize.android.communication.nfc.cordovaplugin.NFCCom"/>
            </feature>
        </config-file>

        <framework src="src/android/build.gradle" custom="true" type="gradleReference" />

        <source-file src="src/android/src/com/chariotsolutions/nfc/plugin/NfcPlugin.java" target-dir="src/com/chariotsolutions/nfc/plugin"/>
        <source-file src="src/android/src/com/chariotsolutions/nfc/plugin/Util.java" target-dir="src/com/chariotsolutions/nfc/plugin"/>
        <source-file src="src/android/src/com/chariotsolutions/nfc/plugin/JSONBuilder.java" target-dir="src/com/chariotsolutions/nfc/plugin"/>
        <source-file src="src/android/src/com/chariotsolutions/nfc/plugin/PluginResponse.java" target-dir="src/com/chariotsolutions/nfc/plugin"/>
        <source-file src="src/android/src/com/chariotsolutions/nfc/plugin/NfcPluginError.java" target-dir="src/com/chariotsolutions/nfc/plugin"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-feature android:name="android.hardware.nfc" android:required="false"/>
        </config-file>

        <config-file parent="/manifest/application/activity[@android:name='MainActivity']" target="AndroidManifest.xml" 
            xmlns:android="http://schemas.android.com/apk/res/android">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/$PACKAGE_NAME" />
            </intent-filter>
        </config-file>

    </platform>

    <platform name="ios">
        <dependency id="cordova-plugin-add-swift-support"/>
        <js-module src="www/phonegap-nfc.js" name="NFC">
            <runs />
        </js-module>

        <config-file parent="/*" target="config.xml">
            <feature name="NfcPlugin">
                <param name="ios-package" value="NfcPlugin" />
            </feature>
            <preference name="deployment-target" value="11" />
            <preference name="SwiftVersion" value="4" />

        </config-file>
        <source-file src="src/ios/NFCTapPlugin.swift" />
        <source-file src="src/ios/ISO15Reader.swift" />
        <source-file src="src/ios/NFCNDEFDelegate.swift" />
        <source-file src="src/ios/AppDelegate+NFC.swift" />
        <source-file src="src/ios/NFCPlugin-Bridging-Header.h" />


        <config-file platform="ios" target="*-Debug.plist" parent="com.apple.developer.nfc.readersession.formats">
            <array>
                <string>NDEF</string>
                <string>TAG</string>
            </array>
        </config-file>

        <config-file platform="ios" target="*-Release.plist" parent="com.apple.developer.nfc.readersession.formats">
            <array>
                <string>NDEF</string>
                <string>TAG</string>
            </array>
        </config-file>

        <!-- frameworks -->
        <framework src="CoreNFC.framework" weak="true"/>

        <config-file target="*-Info.plist" parent="NFCReaderUsageDescription">
            <string>Communicate with IoTize NFC Tags</string>
        </config-file>
    </platform>


</plugin>
